$canvas-color: #aaabb8;

body {
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

#particles-js canvas {
  background: lighten($canvas-color, 15%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  text-align: center;
}

#my-coinz {
  background: #44318d;
  opacity: 0.8;
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 8rem;
    margin: 0;
    text-transform: lowercase;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .countdown {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
  }

  .countdown div {
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0.5rem;
    background: darken(#a4b3b6, 20%);
  }

  .countdown div:first-child {
    background: #d83f87;
  }

  .countdown span {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
